
body{
    background-image: url("../Resources/index-background2.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
}
nav{
font-size: x-large;    

}
header{   
    display: grid;
    
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    color: rgb(158, 32, 102);
    

}

#grid-header{
    
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    /* grid-row-start: 1;
    grid-row-end:  span 2;
    grid-column-start: 1;
    grid-column-end: span 9; */
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%
}

#header-left{
    display: grid;
    grid-row: 1/span 1;
    grid-column: 1/span 1;
}
#header-right{
    display:grid;
    grid-row: 1/span 1;
    grid-column: 2/span 1;
}
.grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 100px);
    grid-gap: 10px 15px;
 
}
.a{
    grid-column-start: 3;
    grid-column-end: span 2;

    grid-row-start: 1;
    grid-row-end: span 1;
    height: 200px;
}
.b{
    display:block;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    
   
}
.c{
    
    grid-column-start: auto;
    grid-row-start: auto;
}


  
    
    

.box{
    border: 3px;
    background-color: beige;
    width: 100px;
    height: 200px;
}
p{
    color: white;
}
#white{
    color: white;
}
h1{
    margin: 10px;
}
footer{
    color: white;
}
