.font-pinion{
    font-family: 'Pinyon Script', cursive;
    font-size: 36pt;
    color: rgb(38, 4, 161)
}
body{
    background-image: url("/Resources/black-leather.jpg");
    background-size: cover; 
   
}
nav{
font-size: x-large;    

}
header{   
    display: grid;
    
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    color: rgb(158, 32, 102);
    

}

#grid-header{
    
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-row-start: 1;
    grid-row-end:  span 2;
    grid-column-start: 1;
    grid-column-end: span 9; */
}
.titleElement{
    font-family: 'Dancing Script', cursive;
    font-size: 36pt;
    color: purple;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%
}
.innerBody{
    grid-column-start: 2;
    grid-column-end: span 7;
    grid-row-start:2;
    grid-row-end: span 5;
    overflow: scroll;
}
#background-black{
    z-index: 1;
    background-color: black;
}
.underline{
    text-decoration: underline;
}

#header-left{
    display: grid;
    grid-row: 1/span 1;
    grid-column: 1/span 1;
}
#header-right{
    display:grid;
    grid-row: 1/span 1;
    grid-column: 3/span 1;

}
#header-center{
    display:grid;
    grid-row: 1/span 1;
    grid-column:2/span 1;

}
.grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 100px);
    grid-gap: 10px 15px;
 
}
.bordered{
    border: solid 2px white;
}
.box{
    border: 3px;
    background-color: beige;
    width: 100px;
    height: 200px;
}
p{
    color: white;
}
#beige{
    color: beige;
}
#white{
    color: white;
}
h1{
    margin: 10px;
}
.a{
    grid-area: 8/2/span 1/span 1;
}
.b{
    grid-area:8/4/span 1/span 1;
}
.c{
    grid-area:8/6/span 1/span 1;
}
.d{
    grid-area:8/8/span 1/span 1;
}

img{
    border: 4px lightyellow solid;
    max-width: 100px;
    height: auto;
}