.font-pinion{
    font-family: 'Pinyon Script', cursive;
    font-size: 36pt;
    color:rgb(119, 141, 169);
}

body{
    background-image: url("/Resources/black-leather.jpg");
    background-size: cover; 
}
body div .a{
    grid-area: 4/17/span 10/span 2;
}
body div .b{
    grid-area: 3/4/span 4/span 4;
}
body div .c{
    grid-area: 3/8/span 4/span 6;
}
body div .d{
    grid-area: 8/8/span 3/span 4;
}
body div .e{
    grid-area: 8/4/span 4/span 4;
}
body div .f{
    grid-area: 12/8/span 2/span 6;
}
body div .g{
    grid-area: 12/1/span 5/span 5;
}

header{   
    display: grid;
    
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: rgb(150, 174, 211);
}

#grid-header{
    
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
.titleElement{
    font-family: 'Dancing Script', cursive;
    font-size: 48pt;
    color:rgb(229, 233, 236);
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%
}
.innerBody{
    grid-column-start: 3;
    grid-column-end: span 5;
    grid-row-start:2;
    grid-row-end: span 4;
    overflow: scroll;
}

.underline{
    text-decoration: underline;
}

#header-left{
    display: grid;
    grid-row: 1/span 1;
    grid-column: 1/span 1;
}
#header-right{
    display:grid;
    grid-row: 1/span 1;
    grid-column: 3/span 1;

}
#header-center{
    display:grid;
    grid-row: 1/span 1;
    grid-column:2/span 1;

}
.grid{
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    gap: 10px 15px;
}

 #image-about{
     width: 300px;
     height: auto;
 } 

.icon-margin{
    margin-right: 20px;
}
.bordered{
    border: solid 2px white;
}

p{
    color: white;
}
#beige{
    color: rgb(224, 225, 221);
}
#white{
    color: white;
}
h1{
    margin: 10px;
}

img{
    border: 4px lightyellow solid;
    height: auto;
}
.constrained{
    max-width: 100px;
}
footer{
    font-size: larger;
    text-align: right;
}
h5{
    margin-top: 2px;
    margin-bottom: 5px;
}
#text-align-right{
    text-align: right;
}
#text-align-center{
    text-align: center;
}